@page
@model south_country_garden.Pages.Admin.LoginModel
@{
}

@if (HttpContext.Session.GetString("LogInState") != "true")
{
    <form method="post">
        <div class="border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary pl-3">Please Log In</h2>
                <hr />
            </div>
            <div class="mb-3">
                <label for="username" class="control-label"></label>
                <input type="text" id="username" name="username" class="form-control" value="example" minlength="4" maxlength="30" />
                <span class="text-danger">@ViewData["usernameValidate"]</span>
            </div>
            <div class="mb-3">
                <label for="password" class="control-label"></label>
                <input type="password" id="password" name="password" class="form-control" value="example" minlength="4" maxlength="30" />
                <span class="text-danger" @ViewData["passwordValidate"]></span>
            </div>
            <button type="submit" class="btn btn-primary" style="width:150px">Log In</button>
        </div>
    </form>
}
else
{
    <h1>You are already logged in</h1>
}