body {
    color: #202124;
    line-height: 1.5em;
    min-height: 100vh;
}

main {
    min-height: 70vh;
}

.scg-logo {
    width: 140px;
}

.text-purple {
    color: #48487f;
}

.hr-updates {
    border: 1px solid black;
    margin: 0 auto 16px;
    width: 50px;
}

.card {
    border: none;
}

.card-title, .card-body > .h5 {
    font-family: "Open Sans", sans-serif;
}

nav {
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.2);
}

.booking-bg {
    background-image: url(../images/booking-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: #48487f;
    font-size: 17px;
    line-height: 1.5em;
}

.card-link.proper-underline, .proper-underline {
    border-bottom: 1px solid;
    padding-bottom: 8px;
    border-color: #48487f ;
}

section > h2 {
    font-size:1.2rem
}

#testimonials i {
    color: #FBBC04;
}

.testimonials-links {
    
}