@page
@model south_country_garden.Pages.BookingModel
@{
    ViewData["Title"] = "Booking";
}

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary pl-3">Book Now!</h2>
            <hr />
        </div>
        <div asp-validation-summary="All"></div>
        <div class="mb-3">
            <label asp-for="booking_records.name" class="control-label"></label>
            <input asp-for="booking_records.name" class="form-control" />
            <span asp-validation-for="booking_records.name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="booking_records.contact_number" class="control-label"></label>
            <input asp-for="booking_records.contact_number" class="form-control" />
            <span asp-validation-for="booking_records.contact_number" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="booking_records.address" class="control-label"></label>
            <input asp-for="booking_records.address" class="form-control" />
            <span asp-validation-for="booking_records.address" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="booking_records.email" class="control-label"></label>
            <input asp-for="booking_records.email" class="form-control" />
            <span asp-validation-for="booking_records.email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="booking_records.additional_message" class="control-label"></label>
            <input asp-for="booking_records.additional_message" class="form-control" />
            <span asp-validation-for="booking_records.additional_message" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" style="width:150px">Submit</button>
    </div>
</form>