@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="text-center mt-4">South Country Garden</h1>
<p class="text-center">
    Event Venue in Santa Rosa<br />Open today until 11:00PM
</p>
<div class="text-center">
    <a class="btn btn-primary p-3" href="#" role="button">BOOK NOW</a>
</div>
<img src="images/imgOne.jpg"
     class="rounded mx-auto d-block img-fluid my-5"
     alt="Header Image" />
<section id="updates">
    <br /><br />
    <hr class="hr-updates" />
    <h2 class="text-center">UPDATES</h2>
    <div class="container px-5 mt-5">
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
            
            <div class="col px-5">
                <div class="card h-100">
                    <a href="#">
                        <img src="~/images/updates/05132020/card.png" class="card-img-top" alt="Updates - May 13, 2020" />
                    </a>
                    <div class="card-body">
                        <a class="card-link text-decoration-none" href="#">
                            <p class="card-title h5">May 13, 2020</p>
                        </a>
                        <p class="card-text">
                            To our Dear clients
                            <br /><br />
                            Our thoughts and prayers are with you in especially in these troubled times brought by the COVID-19 virus.
                            <br /><br />
                            South Country Garden, hopes that you and your loved ones are safe and sound at your homes while we are experiencing this pandemic.
                            <br /><br />
                            Due to this COVID-19, some of you...
                        </p>
                        <a class="card-link" href="#">Read More</a>
                        <p class="h5 mt-3">
                            <a class="card-link" asp-page="/Booking">BOOK</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col px-5">
                <div class="card h-100">
                    <a href="#">
                        <img src="~/images/updates/21112019/card.jpg" class="card-img-top" alt="Updates - Nov 21, 2019" />
                    </a>
                    <div class="card-body">
                        <a class="card-link text-decoration-none" href="#">
                            <p class="card-title h5">Nov 21, 2019</p>
                        </a>
                        <p class="card-text">
                            New numbers:
                            <br /><br />
                            09176733017 (Globe)
                            <br />
                            0493081279 (Globeline)
                            <br />
                            023301609 (PLDT)
                        </p>
                        <p class="h5 mt-2">
                            <a class="card-link" href="tel:+63-917-871-4811">CALL NOW</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col px-5">
                <div class="card h-100">
                    <a href="#">
                        <img src="~/images/updates/18032018/card.jpg" class="card-img-top" alt="Updates - Nov 21, 2019" />
                    </a>
                    <div class="card-body">
                        <a class="card-link text-decoration-none" href="#">
                            <p class="card-title h5">Mar 18, 2018</p>
                        </a>
                        <p class="card-text">
                            B4 L1 Panorama Ville, Barangay Dita, Santa Rosa City, Laguna
                            <br />
                            southcountrygarden@gmail.com
                            <br />
                            maticevents@gmail.com
                            <br />
                            <a href="http://fb.com/southcountrygarden" target="_blank" rel="noopener noreferrer">fb.com /southcountrygarden</a>
                            <br />
                            09152736501 * 024252207 * 09178716962 * 09258019579
                            <br /><br />
                            Debut Package (for 100 guests)
                            <br /><br />
                            Venue
                            <br />
                            Debutant's Room
                            <br />
                            Tables with covers, toppers, and decors according t...
                        </p>
                        <a class="card-link" href="#">Read More</a>
                    </div>
                </div>
            </div>
                
            <div class="col px-5">
                <div class="card h-100">
                    <div class="card-body">
                        <a class="card-link text-decoration-none" href="#">
                            <p class="card-title h5">Posted on Mar 10, 2018</p>
                        </a>
                        <p class="card-text">
                            One of the Event's Stylings..,.,
                        </p>
                    </div>
                </div>
            </div>

            <div class="col px-5">
                <div class="card h-100">
                    <a href="#">
                        <img src="~/images/updates/25022018/card.jpg" class="card-img-top" alt="Updates - Nov 21, 2019" />
                    </a>
                    <div class="card-body">
                        <a class="card-link text-decoration-none" href="#">
                            <p class="card-title h5">Mar 3, 2018</p>
                        </a>
                        <p class="card-text">
                            Garden Wedding Set up ...
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>